<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="../jquery.js"></script>
	<script src="../vue.js"></script>
	<title>vue</title>
</head>
<body>
<div class="test" v-bind:class="classObject"></div>
<div class="test2" v-bind:class="[classA,classB]"></div>
<div class="template">
	<template v-if="ok">
		<h1>Titlesad</h1>
	  <p>Paragraph 1</p>
	  <p>Paragraph 2</p>
	</template>
</div>

<div class="template2">
	<template v-for="item in items">
		<!-- <p>{{$index}}</p> -->
		<h1>{{item.title}}</h1>
	  <p>{{item.description}}</p>
	  <p>{{item.price}}</p>
	</template>
</div>
<script>
	var arr =[] , obj = {};
	$.ajax({
		method:"get",
		url:"http://book.rdtuijian.com/book/chapter-list?bookid=411232661&page=1&pagesize=15&reverse=1",
		data:null,
		dataType:"json",
		context:this,
		async:false
	}).done(function(result){
		obj = result;
	})
	
	var vm = new Vue({
  	el:".template2",
  	data:{
  		items:[
  			{title:"ada",description:"啊飒飒的",price:"48"},
  			{title:"wer",description:"啊飒飒的",price:"38"},
  			{title:"pio",description:"啊飒飒的",price:"58"}
  		]
  	}
  })
  //vm.items.unshift({title:"dll",description:"啊飒飒的",price:"58"});
 //  vm.items = vm.items.filter(function (item) {
	//   return item.title.match(/wer/)
	// })
	// vm.items[0] = {};
	vm.items.$set(1, {})
  //vm.items= [{title:"dllshizhu",description:"啊飒飒的",price:"48"}];
  new Vue({
  	el:".template",
  	data:{
  		ok:true
  	}
  })
	new Vue({
		el:".test",
		data:{
			classObject:{
				'class-a':true,
				'class-b':false
			}
		}
	})

	new Vue({
		el:".test2",
		data:{
			classA:'class-a',
			classB:'class-b'
		}
	})


</script>
</body>
</html>